@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import url(https://fonts.googleapis.com/css?family=Poppins:500&subset=devanagari,latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);


.masthead{
	background:#111;
}

.container_14{
	position: relative;
	top:54px;
	max-width:1400px;

}

.dashboard-flex{
	display:flex;
	display:inline-flex;
	width:100%;
	height:auto;

	.db-right{
		flex:1 8 80%;
		
	}
}

.top-cover{
	height:144px;
	background:#fff;
}

.db-content{
	height:678px;
}

.top-cover-wrap{
	width:88%;
	height:100%;
	margin:0 auto;
}

.img-cover{
	width:238px;
	height:210px;
	float:left;
	margin-top:40px;
	border:solid 1px #898989;
	img{
		width:100%;
		height:100%;
	}
}

.side-con{
	position:relative;
	float:right;
	font-family:Coves;
	font-size:20px;
	top:4px;
	padding-right:20px;
}
.cover-content{
	position:relative;
	top:20px;
	height:100px;
		border:1px solid transparent;
}

.db-p{
	position:relative;
	top:30px;
	border:solid 1px transparent;
	font-family: 'Montserrat', sans-serif;
	font-size: 64px;
	font-weight: 700;	
	color:#111;
}

.sub-nav-select{
	width:88%;
	margin:0 auto;
	border-bottom:1px solid #cdcdcd;
	ul{
		list-style: none;
		padding:0;
		margin-left:0px;

		li{
			margin-top:11px;
			display: inline-block;
		}

		a{
			font-family: Moon;
			margin-right: 20px;
			font-size: 16px;
			font-weight: bold;
			padding:11px 4px;
			color:#111;
		}
	}
}

.this-name{
	font-size:40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.this-addrs{
	font-size:16px;
	font-family:Coves;
	text-transform:uppercase;
	width:80%;
	font-weight:bold;
}

.active{
	border-bottom:4px solid #e74c3c;
}


.db-sub-content{
	position:relative;
	border:solid 1px #cdcdcd;
	top:24px;
	width:88%;
	height:auto;
	margin:0 auto;
}

/**wishlist**/
.wishlist-content{
	width:100%;


}
.wlist-wrap{
	width:100%;
	height:auto;
}
.wlist-header{
	height:40px;
	background:#333;
}
.wlist-content-wrap{
	padding-top:8px;
	display:flex;
	display:inline-flex;
	width:100%;
	height:40px;
	padding:2px;
}
.sets{
	flex:1 6 60%;
	width:100%;
	height:100%;
	.heading{
		text-align: center;
		padding-top:8px;
		font-size:16px;
		font-family: Moon;
		color:#fff;
		font-weight:bold;
	}
}
.sets-a{
	flex:1 6 920px;
	height:100%;
	.heading{

			text-align: center;
			font-size: 16px;
			padding-top:8px;
			font-family: Moon;
			font-weight: bold;
			color:#fff;
	}
}
.sets-prod{
	font-size:18px;
	margin:0;
	font-weight:bold;
	font-family:Coves;
}
.sets-desc{
	margin-top:1px;
	font-size:12px;
	font-family: 'Open Sans',sans-serif;
		
}
.stock-stat{
	position:relative;
	top:30px;
	border:2px solid ;
	width:68%;
	color:#3e606f;
	text-align:center;
	margin:0 auto;
	font-size:18px;
	font-family:Moon;
}
.wlister{
	height:554px;
}
.add-cart{
	position:relative;
	top:18px;
	font-size:28px;
	text-align:center;
	transition:all 0.4s;

	&:hover
	{
		cursor: pointer;
	

		color:#e44457;
	}

	i{
		border:2px solid;
		padding:14px 18px;
		border-radius:50%;
	}
}
.price-wlist{
	position:relative;
	top:28px;
	text-align:center;
	font-size:24px;
	font-family:Coves;
}
.wlist-product{
	position:relative;
	top:0px;
	height:120px;
}
.wrapper-list{
	display:flex;
	display:inline-flex;
	width:100%;
	height:100%;
}
.wrapper-list-sub{
	flex:1 8 100%;
	width:100%;
	padding:4px;

	border-bottom:1px solid #a1a1a1;
}
.fig-img{
	height:100%;
	width:100%;
	img{
		width:100%;
	}
}

/**end of wishlist**/

.go-shop{
	position:relative;
	border:1px solid transparent;
	color:#fff;
	top:20px;
	font-size:18px;
	padding:8px 18px;
	font-weight:bold;
	font-family:Coves;
	background:#111;

	&:hover{
		background:transparent;
		color:#111;
	}

}



.pd-p{
	font-size:24px;
	font-family:Coves;
	padding:8px 24px;
	background:#f4f3f3;
	color:#111;

	span{
		float:right;
		border:1px solid;
		padding-left:6px;
		padding-right:6px;
		font-size:16px;
	}
}

.frm-pd-p{
	font-size:20px;
	font-family: Coves;
	width:36%;
	margin:0;
	padding-left:24px;
	span{
		position:relative;
		border:solid 1px transparent;
		float:right;
	}
}
/**information**/
.info-flex{
	display:flex;
	display:inline-flex;
	width:100%;
	height:1220px;
}
.info-left{
	flex:1 2 14%;
}
.info-ul-left{
	position:relative;
	top:30px;
	border-right:1px solid #cdcdcd;
	list-style:none;
	height:900px;
	padding-top:10px;
	padding-right:16px;
	a{
		font-family: Coves;
		font-size: 18px;
		text-transform: uppercase;
		color:#7d7d7d;
		text-align:right;
	}
	li{
		margin-top: 8px;
	}
	.active-a{
	color:#111;
}
}


.info-right{
	flex:1 8 64%;
}
.info-right-wrap{
	position:relative;
	top:48px;
	width:88%;
	margin-left:34px;
	height:auto;
}
.title-info-right{
	width:64%;
	p{
		font-size: 20px;
		font-family: Moon;
		font-weight: bold;
		margin:0;
	}
}
.info-right-field{
	width:48%;
}
.info-right-flex-field{
	width:100%;
	display:flex;
	display:inline-flex;
}
.info-a-flex-field{
	flex:1 8 50%;
	height:56px;

	p:nth-child(1){
		font-family: Moon;
		font-size: 16px;
		font-weight: bold;
		margin:0;
	}
	p:nth-child(2){
		font-family: Coves;
		font-size: 16px;
		font-weight:normal;
		text-transform: uppercase;

	}
}
.shipping-wrap{
	position:relative;
	top:60px;
}
/**end of information**/