@import url('980gs.css');
@import url('webfont.css');
@import url('product.css');

.product-alert{
	border:1px solid;
	height:260px;
}

.control-center{
	position: absolute;
	width:174px;
	right:224px;
	top:48px;
	height:230px;
	background:#fff;
	-webkit-box-shadow: 4px 8px 25px 0px rgba(138,133,138,1);
	-moz-box-shadow: 4px 8px 25px 0px rgba(138,133,138,1);
	box-shadow: 4px 8px 25px 0px rgba(138,133,138,1);
	z-index:999;
}
.control-header{
	background:#111;
	height:34px;
}
.control-content{
	position: relative;
	top:12px;
	padding:4px;

	ul{
		list-style: none;
		padding:2px;
		margin: 0;

		li{
			margin-bottom: 8px;

			&:hover{
				background:#333;
				color:#fff;
				cursor: pointer;
			}
			div{
				text-align: center;
				font-family: Moon;
				font-size: 16px;
				font-weight:bold;
			}
		}
	}
}


.control-down{
	border:1px solid;
	cursor:pointer;
	padding:2px 4px;
	transition:all 0.2s;
}

.control-down:hover{
	border:1px solid;
	cursor:pointer;
	background:#111;
	color:#fff;
}
.logout-li{
	margin-top:60px;
	border:1px solid #df3c3c;
	div{
		color:#df3c3c;
		&:hover{
			background:#df3c3c;
			color:#fff;
		}
	}
}
.each-control{
	border-bottom:1px solid #dcdada;
}
body{
	margin:0;
	overflow-x:hidden;
	margin-bottom:0;
}

.masthead{
	position:absolute;
	display:flex;
	height:54px;
	background:transparent;
	z-index:1;
	width:100%;
	.nav-a{
		z-index:1;
		position: relative;
		left:22%;
		top:14px;
		ul{
			list-style: none;
			li{
				display: inline;
			}
		}

		a{
			font-family:Coves;
			padding:4px 12px;
			font-size: 20px;
			margin-right: 14px;
			text-decoration: none;
			font-weight: bold;
		// /	text-transform: lowercase;
		color:#333;
		transition:all 0.4s;
		&:hover{
			color:#e74c3c;
		}
	}
}

.nav-b{
	z-index:1;
	position: relative;
	left:38%;
	top:14px;
	ul{
		list-style: none;
		li{
			display: inline;
		}
	}

	a{
		font-family:Coves;
		padding:4px 12px;
		font-size: 20px;
		margin-right: 6px;
		text-decoration: none;
		font-weight: bold;
		text-transform: lowercase;
		color:#fff;
	}
}
}


.sign-up{

	
}
.logo{position:absolute;
	margin-top:6px;
	left:72px;image-resolution:normal;
}
.sub-nav{
	position:relative;
	top:12px;
	float:right;
	margin-right:-16px;
	ul{
		padding:0;
		margin:0;
		list-style:none;
		li{
			display:inline;
		}
		a{
			padding:11px;
			font-size:16px;
			margin-right:-4px;
			text-decoration: none;
			border:solid 1px;
		}
	}
}



.flex-container{
	display:inline-flex;
	width:100%;
	display:flex;
	flex-direction:column;
	div{
		flex: 1 8 70%;
		width: 100%;
	//	border:solid 1px;
	height:676px;
}

div:nth-child(2),div:nth-child(3){
//	border:solid 1px;
height: 672px;
}
}


.wrapper{
	display:inline-flex;
	flex-direction:rows;
	section{
		flex: 1 2 50%;
		width: 100%;
		border:solid 1px #fff;
		
	}
}

.left-sec{
	display:inline-flex;
	flex-direction:column;
	
	div{
		flex: 1 8 70%;
		width: 100%;
	//	border:solid 1px #fff;		
}
}

.wrapper-a{
	display:inline-flex;
	flex-direction:column;
	border:solid 1px #fff;
	div{
		flex: 1 2 80%;
		width: 100%;
		border:solid 1px #fff;

	}
}

/**top**/
.cover-front{
	position: relative;
	width:44%;
	top:188px;
	left:72px;
	height:340px;
	padding:9px;
	//	background:rgba(0,0,0,0.7);
	h1{
		position: relative;
		top:5px;
		font-size: 50px;
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		padding:0;
		margin:0;
	}
	p{
		position: relative;
		top:16px;
		font-family: 'Montserrat', sans-serif;
		font-size: 20px;
		font-weight: 400;	
		color:#333;

	}
}

.shop-now{
	border:solid 1px;
	position: relative;
	top:48px;
	padding:10px 22px 10px;
	font-size:18px;
	text-decoration:none;
	font-family: 'Poppins', sans-serif;
	color:#000;
	text-transform:uppercase;
	border-color: rgba(102,102,102,1);
	border-color: -moz-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 1%, rgba(76,76,76,1) 1%, rgba(89,89,89,1) 10%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 32%, rgba(17,17,17,1) 54%, rgba(0,0,0,1) 69%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 91%, rgba(43,43,43,1) 96%, rgba(43,43,43,1) 100%);
	border-color: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(102,102,102,1)), color-stop(1%, rgba(102,102,102,1)), color-stop(1%, rgba(76,76,76,1)), color-stop(10%, rgba(89,89,89,1)), color-stop(18%, rgba(71,71,71,1)), color-stop(32%, rgba(44,44,44,1)), color-stop(54%, rgba(17,17,17,1)), color-stop(69%, rgba(0,0,0,1)), color-stop(85%, rgba(28,28,28,1)), color-stop(91%, rgba(19,19,19,1)), color-stop(96%, rgba(43,43,43,1)), color-stop(100%, rgba(43,43,43,1)));
	border-color: -webkit-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 1%, rgba(76,76,76,1) 1%, rgba(89,89,89,1) 10%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 32%, rgba(17,17,17,1) 54%, rgba(0,0,0,1) 69%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 91%, rgba(43,43,43,1) 96%, rgba(43,43,43,1) 100%);
	border-color: -o-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 1%, rgba(76,76,76,1) 1%, rgba(89,89,89,1) 10%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 32%, rgba(17,17,17,1) 54%, rgba(0,0,0,1) 69%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 91%, rgba(43,43,43,1) 96%, rgba(43,43,43,1) 100%);
	border-color: -ms-radial-gradient(center, ellipse cover, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 1%, rgba(76,76,76,1) 1%, rgba(89,89,89,1) 10%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 32%, rgba(17,17,17,1) 54%, rgba(0,0,0,1) 69%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 91%, rgba(43,43,43,1) 96%, rgba(43,43,43,1) 100%);
	border-color: radial-gradient(ellipse at center, rgba(102,102,102,1) 0%, rgba(102,102,102,1) 1%, rgba(76,76,76,1) 1%, rgba(89,89,89,1) 10%, rgba(71,71,71,1) 18%, rgba(44,44,44,1) 32%, rgba(17,17,17,1) 54%, rgba(0,0,0,1) 69%, rgba(28,28,28,1) 85%, rgba(19,19,19,1) 91%, rgba(43,43,43,1) 96%, rgba(43,43,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#2b2b2b', GradientType=1 );
}

.cover{
	background-size:cover;	
	opacity: 1;

}

.new-release{margin:0;height:100%;
	img{width:100%;height:100%;image-resolution:normal;}}

	.thisweek{figure{position:absolute;margin:0;width:276px;height:224px;margin-top:44px;left:20px;
		img{width:100%;height:100%;}}
	}

	.desc-six{box-sizing:border-box;
		margin-left:175px;width:156px;
		position:absolute;margin-top:-159px;height:80px;

		p{
			margin:0;

			font-family: Coves;
			font-size:18px;
		}
		p:nth-child(2){
			font-family: 'Open Sans',sans-serif;
			font-weight: normal;
			font-size: 12px;
			text-overflow: ellipsis;
			overflow: hidden;}}

			.desc-six-sub-a{
				box-sizing:border-box;
				margin-left:174px;width:156px;
				position:absolute;
				margin-top:-30px;
				height:30px;

				ul{
					list-style: none;
					margin:0;
					padding-left:72px;
					margin-top: -4px;
					li{
							//border:solid 1px;
							display: inline-block;
							margin-right: 0px;
							p{
								margin:0;
								font-size:26px;
								float:right;
								margin-right:12px;
							}
						}
					}
				}

				.desc-six-sub{box-sizing:border-box;
					margin-left:174px;width:156px;
					position:absolute;margin-top:-78px;height:30px;

					p{
						margin:0;
						margin-top:-3px;
						font-family: 'Poppins', sans-serif;
						font-weight:700;
						font-size:22px;}}

						.top-six{margin:0;width:160px;margin-top:24px;height:158px;margin-left:10px;

							img{
								//	border:solid 1px;
								width:100%;
								height:100%;
								}}

								.new-release-p{
									margin:0;
									text-align:center;
									font-family: 'Open Sans',sans-serif;
									margin-top:7px;
									font-size:16px;
									font-weight:bold;

								}
								.bg-six{
									background:#fff;
									padding:2px;
								}
								.title-release{margin:0;
									font-size:26px;
									font-family: Moon;
									font-weight:bold;		
								}
								.desc-release{
									margin:0;
									font-size:14px;
									font-family: 'Open Sans',sans-serif;
									margin-top:12px;
								}

								.menu-ul{
									list-style:none;
									margin-top:32px;
//	border:solid 1px;
li{
	display: inline-block;
		//border:solid 1px;
		float:right;
		margin-right: 24px;
		p{
			margin:0;
			font-size: 38px;
		}
	}
}

.price-release{
	margin:0;
//	border:solid 1px;
font-size:22px;
font-family: 'Poppins', sans-serif;
font-weight:400;
}

.nrelease-detail{
	position: absolute;
	margin-top:200px;
	left:68px;
	padding:6px;
	background:#333;
	-webkit-box-shadow: 4px 4px 40px -10px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 4px 40px -10px rgba(0,0,0,0.75);
	box-shadow: 4px 4px 40px -10px rgba(0,0,0,0.75);
	p:nth-child(1){
		margin:0;
		border-bottom:solid 1px;
		font-size:18px;
		font-family: Moon;
		color:#fff;
	}
	p:nth-child(2){
		font-family: 'Open Sans',sans-serif;
		font-size:14px;
		margin:0;
		margin-top:2px;
		color:#fff;
		}}

		.nrelease-menu-ul{
			list-style:none;
			margin-top:1px;

			li{
				display: inline-block;
				float:right;
				margin-right:14px;

			}
		}
		.gender-select{
			padding:2px;


			.gender-chc{
				text-align:center;
				font-family: 'Poppins', sans-serif;
				font-weight: 700;
				font-size: 54px;
				margin:0;
				margin-top:48px;
				display: none;	
			}
			.gender-desc{
				text-align:center;
				font-family: 'Open Sans',sans-serif;
				margin-top: 130px;
				font-size: 16px;
			}

		}

		.shop-adjust{
			margin-left:180px;
			padding-left: 40px;
			padding-right:40px;
			border-color:#333;
			color:#000;
			transition: all 0.4s;
			&:hover{
				background:#000;
				color: #fff;
				text-decoration:none;
			}
		}
		.gender-male{
			border:solid 1px #fff;
			background:url("/front/public/img/male.jpg");
			background-size:cover;
			filter:grayscale;
			-webkit-filter: grayscale(100%);
			transition: all 0.4s;
			&:hover{
				cursor: pointer;
				-webkit-filter: grayscale(0%);



				.shop-adjust{
					background:#111;
					color:#fff;
				}

				.gender-desc{
					color:#fff;
				}
			}
		}
		.gender-female{
			border:solid 1px #fff;
			background:url("/front/public/img/shemale.jpg") 50% 64% no-repeat;
			background-size:cover;
			image-resolution:normal;
			filter:grayscale;
			-webkit-filter: grayscale(100%);
			transition: all 0.4s;
			&:hover{
				cursor: pointer;
				-webkit-filter: grayscale(0%);


				.gender-desc{
					color:#111;
				}

				.shop-adjust{
					background:#111;
					color:#fff;
				}
			}

			filter:gray;
			-webkit-filter: grayscale(100%);
		}



		/**fashion statements**/
		.fs-div{
			height:300px;
			display:inline-flex;
			display:flex;


			.fs-div-a{
				flex: 1 8 70%;
				width: 100%;
			}

			div:nth-child(2){
				flex: 1 8 70%;
				height:100%;
			}
		}


		.fs-state{
			position:relative;
			height:100px;
			top:220px;


		}

		.p-fashion{
			font-size: 62px;
			font-family: Coves;
			padding-left:68px;
			color:#fff;

		}
		.p-quote{
			position:relative;
			padding-left:68px;
			font-family: Coves;
			font-size:22px;
			top:-10px;
			width:94%;
		}

		.fs-state-a{
			position:relative;
			top:190px;

			ul{
				height:100%;
				list-style: none;
				li{
					margin:0;
					display: inline-block;
					width:120px;
					height:106px;
					margin-right: 8px;
					border:solid 1px #dddada;
					margin-top: 2px;
					transition: 0.3s;
					filter:grayscale;
					-webkit-filter: grayscale(100%);
					transition: all 0.4s;
					

					&:hover{
						cursor: pointer;
						-webkit-filter: grayscale(0%);
						
					}
				}

			}
		}

		/**end content**/
		.about-below{
			border:solid 1px;
		}

		.footer{
			margin: 0;
			padding:0;
			background:#141414;
		}

		.about-details{
			position:relative;
			top:84px;
			border:solid 1px #d7d2d2;
			margin:0 auto;
		// 	background:rgba(21,21,21,0.4);
		// // 	-webkit-box-shadow: 4px 7px 25px 1px rgba(28, 27, 27,0.44); -moz-box-shadow: 4px 7px 25px 1px rgba(28, 27, 27,0.44); box-shadow: 4px 7px 25px 1px rgba(28, 27, 27,0.44);
	}


	.about-details-sub{
		position:relative;
		margin:0 auto;
		top:68px;

		img{
			position:relative;
			width:104px;
			height:94px;
			left:156px;

		}
	}

	.about-address{
		position:relative;	
		top:6px;
		text-align: center;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: bold;
		font-family:Coves;

	}

	.about-opening{
		position:relative;
		margin-top:56px;
		font-family: Moon;
		font-weight: 700;
		font-size: 28px;
		text-align: center;
	}

	.footer-flex{
		display:flex;
		display:inline-flex;
		height:100%;
		width:100%;

		.footer-flex-a{
			flex: 1 8 70%;
			width: 100%;
		}
	}

	.footer-det{
		position:relative;
		top:34px;
		width:70%;
		float:right;
		display: none;

		ul{
			list-style: none;
			padding:0;
			width:100%;
			padding-top:20px;
			padding-right:14px;

			li{
				display: inline-block;
				float:right;
				margin-left: 20px;


			}	

			a{
				font-size: 28px;
				color:#c7c7c7;
			}
		}

		img{
			width:210px;
			float:right;
			display: none;
		}
	}

	.sectors{
		position:relative;
		margin-top:2px;
		font-size: 16px;
		text-align: left;
		font-family:Moon;
		color:#fff;
		display: none;
	}

	.desby{
		position:relative;
		margin-top:14px;
		font-size: 14px;
		display: none;

		p{
			text-align: right;
			padding-right:10px;
			font-family: Coves;
			text-transform: uppercase;
			font-weight:bold;
			color:#e74c3c;
		}
	}

	/**search box**/
	.fa-search:hover{
		color:#193441;
	}

	#search {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 999;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		-webkit-transform: translate(0px, -100%) scale(0, 0);
		-moz-transform: translate(0px, -100%) scale(0, 0);
		-o-transform: translate(0px, -100%) scale(0, 0);
		-ms-transform: translate(0px, -100%) scale(0, 0);
		transform: translate(0px, -100%) scale(0, 0);

		opacity: 0;
	}

	#search.open {
		-webkit-transform: translate(0px, 0px) scale(1, 1);
		-moz-transform: translate(0px, 0px) scale(1, 1);
		-o-transform: translate(0px, 0px) scale(1, 1);
		-ms-transform: translate(0px, 0px) scale(1, 1);
		transform: translate(0px, 0px) scale(1, 1); 
		opacity: 1;
	}

	#search input[type="search"] {
		position: absolute;
		top: 50%;
		width: 100%;
		color: rgb(255, 255, 255);
		background: rgba(0, 0, 0, 0);
		font-size: 60px;
		font-weight: 300;
		text-align: center;
		border: 0px;
		margin: 0px auto;
		margin-top: -51px;
		padding-left: 30px;
		padding-right: 30px;
		outline: none;
	}
	#search .btn {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: 61px;
		margin-left: -45px;
	}

	/***whats hot*/
	.section-hot{
		position: relative;
		border:1px solid;
		top:30px;
	}
	.section-headline-hot{
		border:1px solid;
	}

	/**about the store**/
	.about-below-flex{
		position: relative;
		width:80%;
		margin-top:120px;
		left:88px;
		height: 600px;
		padding:4px;
	}
	.headline-about{
		height:60px;
		padding-left:20px;

		p{
			font-size: 48px;
			text-transform: uppercase;
			font-family:Coves;
			letter-spacing: 6px;
			font-weight:bold;
		}
	}

	.headline-about-flex{
		padding-top:34px;
		height:538px;
		padding-left:24px;
		display: flex;
		width: 100%;
		display: inline-flex;
	}
	.headline-about-a{
		flex:1 8 50%;
	}
	.history-head{
		position: relative;
		top:20px;
		p{
			font-family: Coves;
			font-size: 26px;
			font-weight: bold;
			letter-spacing: 4px;
		}
	}
	.history-content{
		position: relative;
		top:26px;
		
		p{
			font-family: Coves;
			font-size:20px;
			padding-right:20px;
		}
	}
	/****/

	/**contact us**/

	.contact-us{
		position: relative;
		margin-left:20px;
		height:470px;
		width:80%;
	}
	.contact-headline{
		height:120px;

		p:nth-child(1){
			font-family: Moon;
			font-size: 36px;
			font-weight:bold;
		}

		p:nth-child(2){
			font-size: 20px;
			font-family: Coves;
			width:56%;
			font-weight: bold;
		}
	}
	.contact-content{
		position: relative;
		top:40px;
		height:650px;
	}
	.contact-flex{
		display:flex;
		width:60%;
		display:inline-flex;
		height:13%;
	}
	.contact-a{
		flex:1 5 50%;
		padding:4px;

		p{
			font-size: 16px;
			font-family:Moon;
			font-weight: bold;
		}

		input[type='text']{

			width:100%;
			height:40px;
		}
		textarea{
			width: 100%;
			height: 180px;
		}
	}
	.inquiry-btn{
		border:1px solid;
		width:100%;
		padding-bottom:10px;
		padding-top:10px;
		font-size:20px;
		font-weight:bold;
		background:transparent;
		font-family:Moon;
		transition:all 0.4s;

		&:hover{
			background:#111;
			color:#fff;
		}
	}
	.status-sent{
		width:84%;
		padding:8px;
		height:74px;
		-webkit-box-shadow: 10px 10px 32px 0px rgba(222,206,222,1);
-moz-box-shadow: 10px 10px 32px 0px rgba(222,206,222,1);
box-shadow: 10px 10px 32px 0px rgba(222,206,222,1);
	p{
			font-size: 16px;
			font-family:Moon;
			padding:8px;
			color:#42b972;
			font-weight:bold;
		}
	}
/****/
