@import url('webfont.css');


.prod-index-page{

	display:inline-flex;
	display:flex;
	height:100%;

	div:nth-child(1){
		flex: 1 8 70%;
		width: 100%;
	}



}

/**featured brands**/

.brands-featured{
	width:88%;
	margin-left:76px;
	margin-top:106px;
	height:580px;
}
.thick-line{
	border:4px solid #e74c3c;
	width:4%;
}
.brands-featured-sub{
	height:80px;

	p:nth-child(1){
		font-size:54px;
		margin:0;
		font-family: Coves;
		padding:0;
		color:#fff;
		font-weight: bold;
	}
	p:nth-child(2){
		position:relative;
		top:-10px;
		font-size: 24px;
		margin:0;
		padding:0;
		font-family:Moon;
		color:#fff;
	}
}
.set-of-brands{
	position: relative;
	top:80px;
	height:300px;

	ul{
		position:relative;
		top:-10px;
		margin:0;
		padding:0;
		width:100%;
		height:100%;
		li{
			list-style: none;
			display: inline-block;
			margin-right:14px;
			margin-top:14px;
			transition:all 0.4s;
			&:hover{
				.brands-sub-divis>figure>img{
					cursor: pointer;
					-webkit-filter: grayscale(0%);


				}

				.top-brands-sub{
					display: block;
					background:rgba(255,255,255,0.8);

				}
			}
		}
	}
}
.brands-divis{
	width:220px;
	height:200px;

	p:nth-child(1){
		position: relative;
		top:66px;
		text-align: center;
		font-size: 28px;
		font-family:Coves;
		font-weight: bold;
	}

	p:nth-child(2){
		position: relative;
		top:54px;
		font-family: coves;
		font-size: 18px;
		text-align:center;
	}

}
.top-brands-sub{
	background:#fff;
	border:1px solid;
	display:none;
	transition:all 0.4s;
}
.brands-sub-divis{
	position:absolute;
	width:220px;
	height:200px;
	transition:all 0.4s;
	figure{
		width:100%;
		height:100%;

		img{
			width:100%;
			height:100%;
			filter:grayscale;
			-webkit-filter: grayscale(100%);
			transition: all 0.4s;
			
		}
	}
}

/****/


.featured-sec{
}
.fs-div{
	position:relative;
	top:-14px;
	transition:all 0.4s;
}

/**cart viewing**/
.sidebar{
	position:fixed;
	width:320px;
	height:120px;
	z-index:999;
	background:#fff;
	right:0px;
	top:0px;
	height:100%;
	-webkit-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4); -moz-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4); box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4);
}

.cart-scroll{
	position: relative;
	top:-14px;
}
.close-this{
	height:52px;
	background:#353636;

	p{
		font-size: 30px;
		padding-left:26px;
		font-weight: bold;
		padding-top:8px;
		color:#fff;
	}
}

.cart-side{

	margin-top:30px;
	padding-left:14px;
}

.cart-head{
	border:solid 1px #fff;
	padding-left:10px;
	display:none;
	p{
		font-family:Coves;
		font-size: 42px;
		color:#fff;
	}
}

.cart-content{
	// border:solid 1px;
	height:398px;
	color:#fff;
	ul{
		padding:0;
		list-style: none;
		padding-left:12px;
		padding-right:14px;
		overflow-y: auto;
		height: 100%;
	}

	img{
		width:80px;
		float:left;
		height: 74px;
		margin-top: 16px;
	}
}

/**scrollbar design**/

.cart-scroll::-webkit-scrollbar {
	width: 12px;
}

.cart-scroll::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
	border-radius: 0px;
}

.cart-scroll::-webkit-scrollbar-thumb {
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

.cart-list-content{
	float:right;
	width:68%;
	margin-top:16px;
	height:64px;
	margin-right:4px;
	padding-left:4px;
}

.cart-close{
	float:right;
	font-size:18px;
	font-family:Moon;
	font-weight:bold;
	color:#d4cdcd;
}
.checker{
	font-family: Moon;
	position:relative;
	font-size: 20px;
	width:100%;
	top: -14px;
	margin-bottom:8px;
	background: transparent;
	border:1px solid;
	z-index:999;

	&:hover{
		background:#111;
		color:#fff;
	}
}

.cart-price{
	position:relative;
	top:0px;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	font-size:10px;
	float:left;
}

.cart-each-content{
	height:100px;

}

.cart-total{
	position:relative;
	top:92px;
	border-top:solid 1px #fff;
	height:60px;
	padding-left:10px;
	padding-top:22px;
	padding-right:10px;

	.total{
		font-size: 20px;
		font-weight:bold;
		font-family:Coves;
		float:left;
	}

	.price{
		float:right;
		font-size: 20px;
		font-family: Coves;
		font-weight: bold;

	}
}
.cart-button{
	position:relative;
	top:22px;
	height:60px;
	padding-left:6px;
}

.cart-view{
	padding:6px 94px;
	font-size:18px;
	background:transparent;
	transition:all 0.4s;
	border:solid 1px;
	font-family:Moon;
	font-weight:bold;
	transition:all 0.2s;

	&:hover{
		color:#fff;
		background:#111;
	}
}


.cart-checkout{
	position:relative;
	top:10px;
	padding:6px 93.3px;
	font-size:18px;
	background:transparent;
	transition:all 0.4s;
	border:solid 1px;
	font-family:Moon;
	font-weight:bold;
	transition:all 0.2s;

	&:hover{
		color:#fff;
		background:#111;
	}

}

/****/




.top-header-disp{
	position:relative;
	width:100%;
	height:600px;
}

.top-header-img{
	position:relative;
	top:60px;
	height:538px;
}

.content-group{
	display:inline-flex;
	display:flex;

	.group-filter-recent{
		flex: 1 8 220px;
		border:solid 1px #fff;
	}

	.group-products{
		flex: 1 8 70%;
		width: 100%;
	}
}

.indicator-by{
	position:relative;
	font-size:16px;
	top:38px;
	font-weight:bold;
	font-family: Moon;
	width:134px;
	padding:6px;
	padding-left:16px;
	margin-left:14px;
	margin-bottom:20px;
}

/**sidebar styles**/

.filter-group{
	position:relative;
	margin-top:20px;
	width:88%;
	height:auto;
	float:right;
	margin-right:6px;
	margin-bottom:30px;

	ul{
		list-style: none;
		margin: 0;
		padding:0;
	}
}
.filter-it-by{
	height:auto;
	background:#fff;
}
.child{
	font-size:16px;
	font-family:Moon;
	transition:all 0.4s;
	font-weight:bold;
	

	&:hover{
		background:#dddcdc;
		cursor: pointer;
	}
}

.parent{
	margin:0;
	padding-left:10px;
	font-family:Moon;
	font-size:18px;
	padding-top:4px;
	padding-bottom:4px;
	border-bottom:1px solid #d7d7d7;

}

.category-top{
	font-family:Moon;
	font-size:20px;
	font-weight:bold;
	padding-bottom:10px;
	padding-left:4px;
	color:#333;
}

.category-it-by{
	margin-top:60px;
	height:auto;



	ul:nth-child(1){
		height: 420px;
		a{
			color:#111;
		}
		li{
			height:auto;
			margin:0;
			padding:0;
			color:#fff;
			font-weight: bold;
			transition:all 0.4s;
			word-spacing:6px;
			&:hover{
				background:#d0d0d0;
				cursor: pointer
			}
			ul{
				position: relative;

				// height: 40px;
				margin:0;
				padding: 0;

				a{
					font-family:Moon;
				}

				li{
					padding-top:8px;
					padding-left:10px;

				}
			}

			p{
				margin:0;
				font-family: Moon;
				font-size: 18px;
				word-spacing: 4px;
				padding-left:10px;
				padding-top:2px;
			}
		}
	}
}
.header-filters{
	border-bottom:1px solid #f3f1f1;
	height:42px;

	p{
		font-size:18px;
		font-family: Moon;
		padding-top:6px;
		padding-left:10px;
		font-weight: bold;
	}
}
.filter-it-body{
	height:110px;
}
.filter-select{
	padding:10px 6px;
	font-family:Moon;
	font-weight:bold;
	width:226px;
	position: relative;
	left:10px;
	top:30px;
}

/**end of sidebar**/

.label-tag{
	font-family:Moon;		
	font-size:16px;
	font-weight:bold;
	text-align:right;
	width:74px;
	text-transform:uppercase;
	color:#051a37;
}

.gender-group{
	position:absolute;
	list-style:none;
	margin:0;
	padding:0;
	left:88px;
	li{

		display: inline-block;

	}
	a{
		font-size: 18px;
		margin-right:10px;
		font-weight: bold;
		font-family: Moon;
		color:#8e8e8e;
	}

}

.color-group{
	position:absolute;
	list-style:none;
	top:38px;
	padding:0;
	left:78px;

	width:130px;
	li{
		margin-right: -4px;
		display: inline-block;
		margin-top: -24px;
	}
}

.size-group{
	position:relative;
	list-style:none;
	margin:0;
	padding:0;
	top:-33px;
	left:84px;

	li{
		display: inline-block;

	}
	a{
		font-family: Moon;
		font-size: 18px;
		margin-right: 10px;
		font-weight: bold;
		color:#8e8e8e;
	}
}

.recent-group{
	margin-top:260px;
	height:160px;
	width:100%;
}

.recent-added-group{
	border:solid 1px #fff;
	margin-top:18px;
	width:95%;
	float:right;
	height:auto;
}

.recent-ul-added{
	margin:0;
	padding:0;
	list-style:none;
	li{
		width:100%;
	}
}

.recent-each-item{
	float:right;
	height:80px;
	margin:0;
	margin-bottom:4px;

	img{
		border:solid 1px #fff;
		width:32%;
		height:100%;
		float:left;
	}
}

.top-bar-menu{
	border:solid 1px #fff;
	width:100%;
	height:6%;
}

.product-list{
	border:solid 1px #fff;
	width:97%;
	margin:0 auto;
	margin-top:6px;
}

.product-ul-list{
	margin:0;
	padding:0;

	a{
		text-decoration:none;
	}
	li{
		list-style: none;
		display: inline-block;
		margin-right: 4px;
		margin-top: 18px;

	}
}
.this-list{
	border:1px solid #fff;
	transition:all 0.2s;

	&:hover{
		border-color:#e1dddd;
		opacity: 0.8;
	}
}

.product-div{
	border:solid 1px #fff;
	width:242.4px;
	height:auto;


	&:hover{
		.group-menu{
			display: block;
		}
	}
}

.prod-figure{
	border:solid 1px #fff;
	height:234px;

	img{
		width:100%;
		height:100%;
	}
}

.product-desc,.product-price{
	margin:0;
	color:#000;
	padding:0;
	font-size:16px;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:center;

}

.product-desc{
	font-size:18px;
	padding-top:4px;
	font-family: Coves;
}

.product-price{
	font-size:20px;
	font-family:Coves;
	font-weight:bold;
	margin-top:4px;
}

.group-menu{
	position:relative;
	width:100%;
	height:46px;
	margin-top:10px;
}

.group-menu-ul{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	margin-right:2px;
	li{
		margin-top:2px;
		display: inline-block;
		margin-left: 4px;
	}

}

.cart-add{
	padding:4px 10px;
	font-size:24px;
	font-family:Moon;
	font-weight:bold;
	color:#333;
	transition:all 0.4s;
	&:hover{
		color:#000;
	}
}

.wlist-add{
	padding:6px 10px;
	font-size:24px;
	font-family:Moon;
	font-weight:bold;

	color:#000;
	transition:all 0.2s;

	&:hover{
		color:#333;
	}
}

.select-sort{
	position:absolute;
	font-family:Coves;
	text-transform:lowercase;
	font-weight:bold;
	font-size:16px;
	left:300px;
}

.found-count{
	position:absolute;
	width:220px;
	margin-top:14px;
	font-family:Coves;
	font-weight:bold;
	margin-left:26px;
}

.product-recent-name{
	position:relative;
	border:solid 1px transparent;
	font-family:Coves;
	font-weight:bold;
	font-size:16px;
	width:241px;
	text-align:left;
	left:14px;
}

.product-recent-desc{
	position:relative;
	margin:0;
	padding:0;
	margin-top:-14px;
	font-family: 'Open Sans',sans-serif;
	font-size:12px;
	height:52px;
	overflow:hidden;
	text-overflow:ellipsis;
	text-align:left;
	color:#3b3b3b;
	width:158px;
	left:14px;
}

.header-p{
	position:relative;
	top:154px;
	text-align:center;
	font-size:56px;
	font-weight:700;
	font-family: 'Poppins', sans-serif;
	width:45%;
	margin:0 auto;
	color:#fff;
	display:none;
}

/**pagination**/
.item-page{
	position:absolute;
	margin-top:-42px;
	margin-left:630px;
}

/**clothing footer**/
.footer-clothing{
	margin-top:70px;
	height:820px;
	width:100%;
}

/*cart interface***/

.each-item{
	height:120px;
	margin:0 auto;
}
.each-item-sub{
	position:absolute;
	height:118px;
}

.close-each{
	height:24px;

	p{
		font-size: 18px;
		text-align: right;
		padding-right:14px;
	}
}

.each-item-final{
	height:79%;

	img{
		position:relative;
		width:78px;
		height:66px;
		top:10px;
		margin-left:8px;
		float:left;
	}
	.cart-detail{
		position:relative;
		float:right;
		width:60%;
		top:10px;
		margin-right: 16px;
		height:66px;
	}
}
.cart-name{
	font-family:Coves;
	font-size:18px;
	font-weight:bold;
	margin:0;
}
.cart-pricer{
	margin:0;
	padding:0;
	font-family:Coves;
	font-size:18px;
	color:#333;
}

.sub-total{

	p{
		text-align:right;
		font-family: Coves;
		font-size: 16px;
		margin-right: 10px;
		padding-top:8px;
	}
	span{
		margin-left: 4px;
	}
}

.group-chck{
	position:relative;
	top:8px;
}

.view-cart{
	position:relative;
	font-size:16px;
	font-family:Coves;
	background:transparent;
	border:solid 1px;
	padding:4px 34px;
	left:54px;
	top:10px;
	width:220px;
	font-weight:bold;
}

.checkout{
	position:relative;
	margin-top:10px;
	background:#111;
	color:#fff;
}

/**category**/
.category
{
	background:rgba(42,40,40,0.8);
	position:absolute;
	width:100%;
	height:100%;
	z-index:999;
	top:48px;
	// -webkit-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4); -moz-box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4); box-shadow: 4px 4px 18px 3px rgba(0, 0, 0,0.4);
}

.category-flex{
	border-bottom:solid 1px #c9c4c4;
	display:inline-flex;
	display:flex;
	height:72%;
	background:#fff;
	z-index:999;
	.category-a
	{
		flex: 1 8 50%;
		width: 100%;
		border:solid 1px #fff;

	}
	.category-b
	{
		flex: 1 8 60%;
		width: 100%;
		border:solid 1px #fff;

	}

	.category-c{
		flex: 1 8 96%;
		width: 100%;
		border:solid 1px #fff;
	}
}

.category-clothing{
	position:relative;
	height:auto;
	border:solid 1px #fff;
	float:right;
	top:30px;
}

.categ-title{
	border:solid 1px #fff;
	height:auto;

	p{
		font-size: 24px;
		font-family: Moon;
		font-weight:bold;
		border-bottom:solid 1px #bebebe;
		width:68%;
		color:#3e606f;
	}
}

.category-list{
	position:relative;
	border:solid 1px #fff;
	height:auto;
	top:2px;

	ul{
		list-style: none;
		padding:0;
		li{
			margin-top: 14px;
		}
		a{
			font-family: Coves;
			font-size: 16px;
			color:#111;
		}
	}
}

.img-content{
	position:relative;
	top:64px;
	height:270px;
	left:170px;
	width:48%;

	img{
		width:100%;
		height:100%;
	}
}

.arrow-up {
	position:absolute;
	top:-42px;
	left:314px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	border-bottom: 10px solid #fff;
}
.desc-img-content{
	position:relative;
	top:10px;
	height:46px;
}
.result-body{
	height:auto;

	ul{
		margin:0;
		padding:0;
		height:376px;
		overflow-y: auto;
		li{
			list-style:none;
			display: inline-block;
			margin:0;
			padding:0;
			margin-top:8px;
			margin-right:2px;



		}
	}

}
.sub-desc-content{
	font-size:18px;
	text-align:center;
	font-family:Coves;
	text-transform:uppercase;
}
.sub-sub-desc-content{
	font-size:26px;
	text-align:center;
	font-family:Moon;
	text-transform:uppercase;
	font-weight:bold;
}
.result-div{
	border-bottom:1px solid #e6e4e4;
	width:266px;
	height:164px;
	padding:4px;
	transition:all 0.4s;

	&:hover{
		background:#333;
		color:#fff;
		cursor: pointer;
	}
}

.result-flex-div{
	position:relative;
	top:6px;
	width:100%;
	height:120px;
	display:flex;
	display:inline-flex;
}
.result-flex-a{
	flex:1 8 50%;
	padding:6px;
}
.result-figure{
	width:100%;
	height:116px;
	border-radius:6px;
	img{
		border-radius:6px;
		width:100%;
		height:100%;
	}
}
.result-p{
	font-family:Coves;
	font-size:18px;
	font-weight:bold;
	margin:0;
}
.result-desc{
	font-family:Coves;
	font-size:16px;
	height:89px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.result-btn-grp{
	position:relative;
	width:264px;
	top:10px;
	height:32px;
	p{
		position:relative;
		top:-6px;
		text-align:right;
		font-size: 22px;
		padding-right:16px;
		word-spacing: 14px;
	}
}
.modal-wrap-body{
	height:400px;
}
.modal-this-flex{
	display:flex;
	height:100%;
}
.modal-a{
	flex:1 8 28%;
	background:#111;
	color:#fff;
}
.modal-b{
	flex:1 8 54%;

}
.modal-a-wrap{
	position:relative;
	top:94px;
	width:84%;
	margin:0 auto;
}
.modal-a-a{
	height:80px;
	figure{
		width:100%;
		height:100%;
		img{
			position:relative;
			top:20px;
			width:100%;
		}
	}
}
.modal-a-b{
	height:90px;
	p{
		text-align: left;
		padding-left:10px;
		font-size: 18px;
		font-family: Coves;
		font-weight: bold;
	}
}
.modal-wrap-b{
	position:relative;
	top:40px;
	width:86%;
	margin-left:20px;
	height:320px;
}
.modal-wrap-flex-b{
	height:74px;
	margin-bottom:8px;
}
.modal-wrapper{
	height:76.6%;
}
.modal-wrapper-flex{
	margin-bottom:6px;
	width:100%;
	display:flex;
	display:inline-flex;
	height:auto;
}
.modal-wrapper-a-flex{
	flex:1 8 50%;
	input[type='text'],input[type='password']{
		width:80%;
		height:46px;
		margin-top: 0px;
		border:none;
		border-bottom:2px solid #cdcdcd;
		font-size: 20px;
	}
}
.usa-name{
	margin:0;
	font-family:Moon;
	font-size:18px;
	font-weight:bold;
}
.keep-me{
	font-family:Coves;
	font-size:16px;
	font-weight:bold;
}
.forgot{
	float:right;
	font-size:16px;
	font-family:Coves;
	font-weight:bold;
}
.logger-in{
	padding:8px 36px;
	font-size:18px;
	margin-top:12px;
	background:transparent;
	font-family:Moon;
	font-weight:bold;
	background:#e74c3c;
	border:none;
	color:#fff;
	transition:all 0.4s;
	&:hover{
		border:1px solid;
		color:#e74c3c;
		background:transparent;
	}
}
.login-head{
	font-family:Moon;
	font-weight:700;
	font-size:24px;
	margin:0;
}
.log-access{
	font-family:Coves;
	font-size:16px;
	font-weight:bold;
}

/***css product modal**/
.modal-a-flex{
	display:flex;
	display:inline-flex;
	width:100%;
	height:100%;
}

.modal-flex-a{
	flex:1 8 58.6%;
	background:#fff;
}


.modal-flex-b{
	flex:1 8 68.8%;
	background:#fff;
}

.item-wrap{
	position:relative;
	top:30px;
	width:84%;
	margin:0 auto;
}
.item-name{
	height:60px;

	p{
		font-family: 'Poppins', sans-serif;
		font-weight: 700;
		font-size: 38px;
	}
}
.item-price{
	height:40px;

	p{
		font-family:Moon;
		font-size: 22px;
	}
}
.item-desc{
	position:relative;
	margin-top:10px;
	height:120px;

	p{
		font-family:Moon;
	}
}
.item-size{
	margin-top:12px;
	height:60px;

	p:nth-child(1){
		font-family: Moon;
		font-weight:bold;
	}

	ul{
		padding:0;

		li{
			display: inline-block;
			list-style: none;
			border:2px solid;
			font-family:Moon;
			padding:4px 10px;
			font-weight:bold;
		}
	}
}

.item-action{
	margin-top:42px;
}

.action-cart{
	font-size:16px;
	padding:4px 12px;
	font-family:Moon;
	font-weight:bold;
	background:#111;
	color:#fff;
	border:1px solid;
	transition:all 0.4s;

	&:hover{
		background:#fff;
		color:#111;
	}
}